body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-align: center;
  caret-color: transparent;
}

.Title {
  color: white;
}


/* Home */
.sliderAmount {
  color: white;
}

.pokeContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 50px;
  user-select: none;
}

.pokeSprite {
  height: 100px;
  width: auto;
}

.disclaimer {
  color: white;
  font-size: 12px;
}
/* Home End */



/* Loading */
.pokeContainerLoading {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  user-select: none;
  height: 150px;
}

.loading {
  color: red;
  font-size: 30px;
  user-select: none;
}

/* Loading End */



/* Modal */
.modal {
  opacity: 1;
  position: absolute;
  /* can be fixed once modal is updated */
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
}

.modal__content {
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  border-radius: 4px;
  border: solid;
  padding: 1em 2em;
  transform: scale(0.9);
  opacity: 0;
  animation: modalIn 0.3s ease forwards;
  /* TEMP BORDER */
}

@keyframes modalIn {
  to {
    transform: scale(1);
    opacity: 1;
  } 
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #585858;
  text-decoration: none;
}

.sprite {
  height: 200px;
  width: auto;
}

.name {
  text-align: center
}  
/* Modal End */



/* Types */
.typeContainer {
  display: flex;
  align-items: center;
  align-content: space-around;
  border: solid;
  /* TEMP BORDER */
}

.type {
  border-style: solid;
  color: white;
  width: 60px;
}

/* Type Colors */
#normal {
  border-color: #9FA19F;
  background-color: #9FA19F;
}

#fighting {
  border-color: #FF8000;
  background-color: #FF8000;
}

#flying {
  border-color: #81B9EF;
  background-color: #81B9EF;
}

#poison {
  border-color: #9141CB;
  background-color: #9141CB;
}

#ground {
  border-color: #915121;
  background-color: #915121;
}

#rock {
  border-color: #AFA981;
  background-color: #AFA981;
}

#bug {
  border-color: #91A119;
  background-color: #91A119;
}

#ghost {
  border-color: #704170;
  background-color: #704170;
}

#steel {
  border-color: #60A1B8;
  background-color: #60A1B8;
}

#fire {
  border-color: #E62829;
  background-color: #E62829;
}

#water {
  border-color: #2980EF;
  background-color: #2980EF;
}

#grass {
  border-color: #3FA129;
  background-color: #3FA129;
}

#electric {
  border-color: #FAC000;
  background-color: #FAC000;
}

#psychic {
  border-color: #EF4179;
  background-color: #EF4179;
}

#ice {
  border-color: #3DCEF3;
  background-color: #3DCEF3;
}

#dragon {
  border-color: #5060E1;
  background-color: #5060E1;
}

#dark {
  border-color: #624D4E;
  background-color: #624D4E;
}

#fairy {
  border-color: #EF70EF;
  background-color: #EF70EF;
}
/* Types and Type Colors End */



/* Poke Info */
.info {
  border: solid;
  /* TEMP BORDER */
}
/* Poke Info End */



/* Egg Groups */
.eggGroupContainer {
  display: flex;
  align-items: center;
  border: solid;
  /* TEMP BORDER */
}

.eggGroup {
  border: solid;
}
/* Egg Groups End */



/* Abilities */
.abilitiesContainer {
  display: block;
  align-items: center;
  border: solid;
  /* TEMP BORDER */
}

.ability {
  border-style: solid;
}
/* Abilities End */



/* Base Stats */
.baseStatsContainer {
  display: block;
  /* for easier view for now. update after fixing modal */

  border: solid;
  /* TEMP BORDER */
}

.statdropbtn {
  background-color: white;
  border: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.statdropbtn:hover {
  background-color: #DCDCDC;
}

.statBar {
  height: 20px;
} 

/* Stat Colors */
#hp {
  background-color: #448F0C;
}
#attack {
  background-color: #9B8510;
}
#defense {
  background-color: #97410C;
}
#special-attack {
  background-color: #0D7F9D;
}
#special-defense {
  background-color: #304591;
}
#speed {
  background-color: #8B1370;
}
/* Base Stats and Stat Colors End */



/* Moves */
.movesContainer {
  border: solid;
  /* TEMP BORDER */
}

.movesdropbtn {
  background-color: white;
  border: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.movesdropbtn:hover {
  background-color: #DCDCDC;
}

/* BORDERS IN CONTAINERS FOR EASIER VIEWING UNTIL FINISHED EDITING */