body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-align: center;
}

h1 {
  color: white;
}

.pokeAmount {
  color: white;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 50px;
}

.pokeSprite {
  height: 100px;
  width: auto;
}

.sprite {
  height: 200px;
  width: auto;
}

.name {
  text-align: center
}  

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all 1s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #585858;
  text-decoration: none;
}

.typeContainer {
  display: flex;
  align-items: center;
}

.type {
  border-style: solid;
  color: white;
  width: 60px;
}

/* Type Colors */
#normal {
  border-color: #9FA19F;
  background-color: #9FA19F;
}

#fighting {
  border-color: #FF8000;
  background-color: #FF8000;
}

#flying {
  border-color: #81B9EF;
  background-color: #81B9EF;
}

#poison {
  border-color: #9141CB;
  background-color: #9141CB;
}

#ground {
  border-color: #915121;
  background-color: #915121;
}

#rock {
  border-color: #AFA981;
  background-color: #AFA981;
}

#bug {
  border-color: #91A119;
  background-color: #91A119;
}

#ghost {
  border-color: #704170;
  background-color: #704170;
}

#steel {
  border-color: #60A1B8;
  background-color: #60A1B8;
}

#fire {
  border-color: #E62829;
  background-color: #E62829;
}

#water {
  border-color: #2980EF;
  background-color: #2980EF;
}

#grass {
  border-color: #3FA129;
  background-color: #3FA129;
}

#electric {
  border-color: #FAC000;
  background-color: #FAC000;
}

#psychic {
  border-color: #EF4179;
  background-color: #EF4179;
}

#ice {
  border-color: #3DCEF3;
  background-color: #3DCEF3;
}

#dragon {
  border-color: #5060E1;
  background-color: #5060E1;
}

#dark {
  border-color: #624D4E;
  background-color: #624D4E;
}

#fairy {
  border-color: #EF70EF;
  background-color: #EF70EF;
}
/* Type Colors End */

.eggGroupContainer {
  display: flex;
  align-items: center;
}

.eggGroup {
  border-style: solid;
}

.abilityContainer {
  display: flex;
  align-items: center;
}

.ability {
  border-style: solid;
}