body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-align: center;
  caret-color: transparent;
}

.Title {
  color: white;
}


/* Home */
.sliderAmount {
  color: white;
}

.pokeContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  user-select: none;
}

.pokeSprite {
  height: 120px;
  width: auto;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.2s ease;
}

.pokeSprite:hover {
  transform: scale(1.0);
}

.disclaimer {
  color: white;
  font-size: 12px;
}
/* Home End */



/* Loading */
.pokeContainerLoading {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  user-select: none;
  height: 150px;
}

.loading {
  color: red;
  font-size: 30px;
  user-select: none;
}

/* Loading End */



/* Modal */
.modal {
  position: fixed;
  /* can be fixed once modal is updated */
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  z-index: 1000;
  overflow-y: auto;
}

.modal__content {
  position: absolute;
  top: 10vh;
  width: 500px;
  max-width: 90%;
  background: #fff;
  border: solid;
  padding: 1em 2em;
  transform: scale(0.9);
  opacity: 0;
  animation: modalIn 0.3s ease forwards;
  /* TEMP BORDER */
}

@keyframes modalIn {
  to {
    transform: scale(1);
    opacity: 1;
  } 
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #585858;
  background-color: white;
  border-radius: 5px;
}

.modalTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: solid;
  /* TEMP BORDER */
}

.sprite {
  height: 200px;
  width: auto;
}

.name {
  text-align: center
}  
/* Modal End */



/* Types */
.typeContainer {
  display: flex;
  align-items: center;
  align-content: space-around;
  height: 40px;
  /* border: solid; */
  /* TEMP BORDER */
}

.type {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  color: white;
  width: 60px;
}

/* Type Colors */
#normal {
  background-color: #9FA19F;
}

#fighting {
  background-color: #FF8000;
}

#flying {
  background-color: #81B9EF;
}

#poison {
  background-color: #9141CB;
}

#ground {
  background-color: #915121;
}

#rock {
  background-color: #AFA981;
}

#bug {
  background-color: #91A119;
}

#ghost {
  background-color: #704170;
}

#steel {
  background-color: #60A1B8;
}

#fire {
  background-color: #E62829;
}

#water {
  background-color: #2980EF;
}

#grass {
  background-color: #3FA129;
}

#electric {
  background-color: #FAC000;
}

#psychic {
  background-color: #EF4179;
}

#ice {
  background-color: #3DCEF3;
}

#dragon {
  background-color: #5060E1;
}

#dark {
  background-color: #624D4E;
}

#fairy {
  background-color: #EF70EF;
}
/* Types and Type Colors End */



/* Egg Groups */
.eggGroupContainer {
  display: flex;
  align-items: center;
  height: 40px;
  /* border: solid; */
  /* TEMP BORDER */
}

.eggGroup {
  border: solid;
  border-color: black;
  border-width: 2px;
}
/* Egg Groups End */



/* Base Stats */
.baseStatsContainer {
  display: block;
  /* for easier view for now. update after fixing modal */
  /* border: solid; */
  /* TEMP BORDER */
}

.statHeader {
  padding: 10px;
  margin: 10px;
}
/* 
.statdropbtn {
  background-color: white;
  border: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.statdropbtn:hover {
  background-color: #DCDCDC;
} */
/* Stat button removed during restructure */

.statBar {
  height: 15px;
  margin: 1px;
} 

/* Stat Colors */
#hp {
  background-color: #448F0C;
}

#attack {
  background-color: #9B8510;
}

#defense {
  background-color: #97410C;
}

#special-attack {
  background-color: #0D7F9D;
}

#special-defense {
  background-color: #304591;
}

#speed {
  background-color: #8B1370;
}
/* Base Stats and Stat Colors End */



/* Poke Info */
.info {
  border: solid;
  /* TEMP BORDER */
}
/* Poke Info End */



/* Abilities */
.abilitiesContainer {
  display: block;
  align-items: center;
  border: solid;
  /* TEMP BORDER */
}

.ability {
  border-style: solid;
}
/* Abilities End */



/* Moves */
.movesContainer {
  border: solid;
  /* TEMP BORDER */
}

.moveTable {
  display: flex;
}

/* BORDERS IN CONTAINERS FOR EASIER VIEWING UNTIL FINISHED EDITING */